.numInput {
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
	width: 3em;
	height:20px;
	padding-left:2px;
}

.colorInput {
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
	width: 8em;
	font-size:18px;
	padding-left:2px;
}

h1, h3{
	display:inline;
}

.info {
	float:right;
	margin:0;
}

a:link {
	color: #ff3c00;
	text-decoration: none;
}

a:visited {
	color: #ff3c00;
	text-decoration: none;
}

a:hover {
	color: #a801b6;
	text-decoration: none;
}

.hints {
	text-align:center;
}
.hints h3:not(:last-child) {
	margin-right:4em;
}

button {
	font-family: "Courier";
	display:block;
	width:10em;
	height:25px;
	margin:auto;
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
}

.myCheckbox {
	width:17px;
	height:17px;
}

label {
	display:block;
}

input {
	font-family: "Courier";
}

body {
	background-color: black;
	color: #d5d5d5;
	font-family: "Courier";
}

.center {
	text-align:center;
}

.left {
	text-align:left;
}

.tight {
	display:inline-block;
}

.col {
	float: left;
	width: 16.6%;
}

.floatDummy {
	clear:both;
}

.blur{
    font-weight: bold;
	backdrop-filter:blur(5px);
	padding-left:10px;
	padding-right:10px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#resume {
	max-width:85%;
	margin:auto;
}

p {
	font-size: 16px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:6px;
	text-align:left;
}

.indent {
	margin-left:2em;
}

.dubIndent {
	margin-left:4em;
}

.contact {
	float:center;
}

.dropDown {
	color: #ff3c00;
	cursor:pointer;

}

.warning {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	color: #ff3c00;
}
